#main-hero {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../images/great_wave2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar {
}