#main-hero {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../images/great_wave2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    text-align: justify;
}

.container {
    max-width: 60rem;
}

.post-image {
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}