<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{.Title}}</title>
  <meta name="description" content="{{ .Description }}" />
  <base href="{{ .Site.BaseURL }}" />
  <script>
    MathJax = {
      options: {
        ignoreHtmlClass: "tex2jax_ignore"
      }
    };
  </script>
  <link rel="stylesheet"
    href='{{ (resources.Get "sass/main.css" | resources.Minify | resources.Fingerprint).Permalink }}' />
  <link rel="stylesheet"
    href='{{ (resources.Get "sass/bulma/bulma.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint).Permalink }}' />
  <script type="text/javascript" id="MathJax-script" async
    src='{{ (resources.Get "js/mathjax.js" | resources.Minify | resources.Fingerprint).Permalink }}'></script>
  <link rel="canonical" href="{{ .Permalink }}" />
</head>