<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    }
  });
</script>

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item has-text-danger has-text-weight-bold" href="/">KYD</a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

  <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        {{ $currentPage := . }} {{ range .Site.Menus.main.ByWeight }}
        {{if .HasChildren }}
        <div class='navbar-item has-dropdown is-hoverable '>
          <a class="navbar-link" {{ if .URL }} href="{{ .URL }}" {{ end }}>
            {{ .Pre }}
            <span>{{ .Name }}</span>
            {{ .Post }}
          </a>

          <div class="navbar-dropdown is-right">
            {{ range .Children }}
            <a class='navbar-item {{ if $currentPage.IsMenuCurrent "main" . }} is-active {{ end }}' href="{{ .URL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
              {{ .Post }}
            </a>
            {{ end }}
          </div>
  </div>
  {{ else }}
  <a class='navbar-item {{ if $currentPage.IsMenuCurrent "main" . }} is-active {{ end }}' href="{{ .URL }}">
    {{ .Pre }}
    <span>{{ .Name }}</span>
    {{ .Post }}
  </a>
  {{ end }} {{end}}
  <div class="navbar-item">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Search" />
            <span class="icon is-left">
              <svg id="i-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none"
                stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <circle cx="14" cy="14" r="12" />
                <path d="M23 23 L30 30" />
              </svg>
            </span>
          </p>
        </div>
  </div>
  </div>
</nav>