<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{.Title}}</title>
  <meta name="description" content="{{ .Description }}" />
  <base href="{{ .Site.BaseURL }}" />
  <script>
    MathJax = {
      options: {
        ignoreHtmlClass: "tex2jax_ignore"
      }
    };
  </script>
  {{ $bulma := resources.Get "sass/bulma.sass" | resources.ToCSS (dict "targetPath" "css/style.css" "outputStyle" "compressed") | minify | fingerprint }}
  {{ $mathjax := resources.Get "js/mathjax.js" | minify | fingerprint }}
  <link rel="stylesheet" href='{{ $bulma.Permalink }}' integrity="{{ $bulma.Data.Integrity }}" />
  <script type="text/javascript" id="MathJax-script" async src='{{ $mathjax.Permalink }}'
    integrity="{{ $mathjax.Data.Integrity }}"></script>
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ with resources.Get "sass/main.css" | minify }}
  <style>{{ .Content | safeCSS }}</style>
  {{ end }}
</head>