<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{.Title}}</title>
  <meta name="description" content="{{ .Description }}" />
  <base href="{{ .Site.BaseURL }}" />
  {{ $bulma := resources.Get "sass/bulma.sass" | resources.ToCSS (dict "targetPath" "css/style.css" "outputStyle" "compressed") | minify | fingerprint }}
  {{ $katexCss := resources.Get "sass/katex.css" | minify }}
  {{ $katex := resources.Get "js/katex.js" }}
  {{ $autorender := resources.Get "js/auto-render.js" }}
  {{ $bundle := (slice $katex $autorender | resources.Concat "js/bundle.js") | minify | fingerprint }}
  <link rel="stylesheet" href='{{ $bulma.Permalink }}' integrity="{{ $bulma.Data.Integrity }}" />
  <link rel="stylesheet" href="{{ $katexCss.Permalink }}" integrity="{{ $katexCss.Data.Integrity }}">
  <script defer src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}"
    onload="renderMathInElement(document.body);"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ with resources.Get "sass/main.css" | minify }}
  <style>{{ .Content | safeCSS }}</style>
  {{ end }}
</head>