{{- define "main" -}}

<section class="hero is-medium is-dark" id="main-hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-2 is-hidden-mobile">
                        <figure class="image is-square">
                            <img class="is-rounded avatar" src='images/image.jpg'>
                        </figure>
    </div>
    <div class="column">
                    <h1 class="title is-1">
                        Karamatou Yacoubou Djima
                    </h1>
                    <h4 class="subtitle is-4">
                        Assistant Professor of Mathematics, Amherst College, Amherst MA
                    </h4>
                </div>
    </div>
    </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title is-1">{{ .Title }}</h1>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</section>

{{- end -}}