{{- define "main" -}}

<section class="hero is-medium is-dark" id="main-hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-2 is-hidden-mobile">
                        <figure class="image is-square">
                            <img class="is-rounded avatar" src='images/image.jpg'>
                        </figure>
    </div>
    <div class="column">
                    <h1 class="title is-1">
                        Karamatou Yacoubou Djima
                    </h1>
                    <h4 class="subtitle is-4">
                        Assistant Professor of Mathematics, Amherst College, Amherst MA
                    </h4>
                </div>
    </div>
    </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <h3 class="title is-3">{{ .Title }}</h3>
                {{ if .Params.subtitle }}
                <h5 class="subtitle is-5">{{ .Params.subtitle }}</h5>
                {{ end }}
                <div class="content">
                            {{ .Content }}
                        </div>
    </div>
    <div class="column is-6">
                <h3 class="title is-3">Recent blog posts</h3>
                <h5 class="subtitle is-5"><a href="posts/">Find more here \(\to\)</a></h5>
                {{ partial "posts.html" (first 3 (where site.RegularPages "Type" "in" site.Params.mainSections)) }}
            </div>
    </div>
    </div>
</section>




{{- end -}}